# Core ML
tensorflow==2.15.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
pyts==0.12.0

# Data
yfinance==0.2.40

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Web
Flask==3.0.3
Werkzeug==3.0.3

# Optional
optuna==3.6.1

# For saving images and JSON
Pillow==10.3.0
